@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&family=Roboto&display=swap");
@tailwind utilities;
@tailwind components;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .brand-gradient {
    background-image: linear-gradient(
      90deg,
      theme(colors.purple.800),
      theme(colors.blue.900)
    );
  }

  .gradient-underline {
    @apply brand-gradient;
    background-size: 100% var(--tw-underline-height, 3px);
    background-repeat: no-repeat;
    background-position: left 1.45em;
    padding-block: 0.25em;
    transition: all 200ms;
  }
  .gradient-underline-cover {
    @apply brand-gradient;
    background-size: 100% 55%;
    background-repeat: no-repeat;
    background-position: left 0.5em;
    padding-block: 0.25em;
    transition: all 200ms;
  }

  .python {
    background: #3672a4;
    color: inherit;
  }

  .MongoDB {
    color: #1b2d39;
  }

  .html-css {
    background: #fc4a0b;
    color: inherit;
  }

  .bulma {
    background: #00d1b2;
    color: inherit;
  }

  .javascript {
    background: #efd81d;
    color: black;
  }

  .api-integration {
    background: #b0afff;
    color: inherit;
  }

  .unity {
    background: white;
    color: black;
  }

  .csharp {
    background: #2e2665;
    color: inherit;
  }

  .vue-js {
    background: #68b281;
    color: #394a5e;
  }

  .nuxt-js {
    background: #001e26;
    color: inherit;
  }

  .tailwindcss {
    background: #5caee6;
    color: inherit;
  }
}

@layer components {
  .link {
    @apply gradient-underline cursor-pointer hover:gradient-underline-cover;
  }
}